* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Mononoki Nerd Font Mono;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#idle_inhibitor:hover {
    background-color: #7C6F64;
}

#pulseaudio:hover {
    background-color: #7C6F64;
}

#network:hover {
    background-color: #7C6F64;
}

#cpu:hover {
    background-color: #7C6F64;
}

#memory:hover {
    background-color: #7C6F64;
}

#language:hover {
    background-color: #7C6F64;
}

#battery:hover {
    background-color: #7C6F64;
}

#clock:hover {
    background-color: #7C6F64;
}

#power:hover {
    background-color: #7C6F64;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	background-color: @theme_bg_color;
	border-radius: 5px;
	border: 1px solid #B8BB26;
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	background-color: @theme_bg_color;
	border-radius: 5px;
	border: 1px solid #B8BB26;
    margin-right: 0px;
}

.modules-center {
	background-color: @theme_bg_color;
	border-radius: 5px;
	border: 1px solid #B8BB26;
}

.modules-right {
	background-color: @theme_bg_color;
	border-radius: 5px;
	border: 1px solid #B8BB26;
}

#clock {
   color: @theme_text_color; 
}

#battery {
    color: @theme_text_color;
}

#battery.charging, #battery.plugged {
    color: #98971A;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #FB4934;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #B8BB26;
}

#memory {
    color: #D3869B;
}

#disk {
    color: #964B00;
}

#backlight {
    color: #90b1b1;
}

#network {
    color: #458588;
}

#network.disconnected {
    color: #FB4934;
}

#pulseaudio {
    color: #D79921;
}

#pulseaudio.muted {
    color: #928374;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    color: #689D6A;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #689D6A;
}

#custom-media.custom-vlc {
    color: #FABD2F;
}

#temperature {
    color: #FE8019;
}

#temperature.critical {
    color: #CC241D;
}

#tray {
    color: #525742;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    color: #928374;
}

#idle_inhibitor.activated {
    color: #B8BB26;
}

#mpd {
    color: #689D6A;
}

#mpd.disconnected {
    color: #CC241D;
}

#mpd.stopped {
    color: #928374;
}

#mpd.paused {
    color: #8EC07C;
}

#language {
    color: #98971A;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #97e1ad;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0px;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
